#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}



/* src/App.css */
.app-container {
  min-height: 100vh;
  background-color: #616b62; /* Your custom background */
}

:where(.dark) .app-container {
  background-color: #1a202c; /* Dark gray for body */
}