/* src/App.css */
#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.app-container {
  min-height: 100vh;
}

/* Apply background at the root level */
:root {
  background-color: #616b62; /* Your custom background */
}

:where(.dark) {
  background-color: #1a202c; /* Dark gray for body */
}