/* src/index.css */
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

:root {
  --primary: #fdba74; /* From your navbar */
  --primary-dark: #e6a664;
  --secondary: #616b62; /* Page background */
  --secondary-dark: #4b524a;
  --highlight: #34c759; /* Green for "Explore Technologies" button */
  --highlight-dark: #2eb34f;
  --special: #ffcc00;
  --special-dark: #e6b800;
  --outline: #e5e7eb;
  --outline-dark: #374151;
  --text: #333333;
  --text-dark: #d1d5db;
  --card: #ffffff;
  --card-dark: #1f2937;
  --cardText: #000000;
  --cardText-dark: #ffffff;
}

:where(.dark) {
  /* Define dark mode variables if needed */
}